* {
    box-sizing: border-box;
    margin: 0px;
    font-family: sans-serif;
    /* border: 1px dashed red; */
}

#content {
    height: 100%;
    width: auto;
    margin-left: 350px;
    position: relative;
}

#map {
    position: relative;
    width: 100%;
    height: 100%;
}

#loader {
    z-index: 3;
    visibility: hidden;
    border: 16px solid whitesmoke;
    border-radius: 50%;
    border-top: 16px solid darkgrey;
    width: 100px;
    height: 100px;
    margin: -50px 0 0 -50px;
    animation: spin 2s linear infinite;
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#overlay {
    z-index: 2;
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.50);
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

#sidebar {
    position: fixed;
    padding: 10px;
    width: 350px;
    height: 100%;
    display: grid;
    grid-auto-rows: min-content auto;
}

#form {
    height: auto;
}

#searchbox {
    margin-bottom: 10px;
    font-size: 2em;
    width: 100%;
}

#sideimages {
    overflow: auto;
}

#noresults {
    visibility: hidden;
    font-size: 1.5em;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#btnSeeMore {
    z-index: 1;
    visibility: hidden;
    font-size: 1.5em;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%, -50%);
}

#sideimages::-webkit-scrollbar {
    width: 10px;
}

#sideimages::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

#sideimages::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}

#sideimages > img {
    width: 50%;
}