* {
    box-sizing: border-box;
    margin: 0px;
    font-family: sans-serif;
    /* border: 1px dashed red; */
}

#map {
    position: fixed;
    width: 100%;
    height: 100%;
}

.leaflet-marker-icon {
    display: none;
    border: 2px solid white;
    border-radius: 3px;
}

.leaflet-marker-icon img {
    width: 100%;
    height: 100%;
}

.leaflet-popup-content-wrapper,
.leaflet-popup-content,
.leaflet-popup-content p {
    margin: 0px;
    padding: 0px;
}

.popupcontent .image {
    width: 100%;
    margin-top: 0px;
    border-radius: 12px 12px 0px 0px;
}

.popupcontent .info {
    display: grid;
    grid-auto-columns: min-content auto;
    padding: 10px;
    font-size: 1em;
}
    .info .userhref {
        grid-column: 1;
        grid-row-start: 1;
        grid-row-end: 3;
        width: 75px;
        height: 75px;
        border-radius: 50%;
        margin-right: 10px;
        box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
    }
        .userhref .buddyicon {
            width: 100%;
            height: 100%;
            border-radius: 50%;
        }
    .info .title {
        grid-column: 2;
        grid-row: 1;
        font-size: 2em;
        font-weight: bold;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
    .info .ownername {
        grid-row: 2;
        font-size: 1.25em;
    }
    .info .description {
        grid-row: 3;
        grid-column-start: 1;
        grid-column-end: 3;
        margin-top: 10px;
    }

#content {
    pointer-events: none;
    height: 100%;
    width: 100%;
    position: fixed;
    padding: 10px;
}

#sidebar {
    pointer-events: all;
    position: relative;
    padding: 10px;
    width: 350px;
    height: 100%;
    display: grid;
    grid-auto-rows: min-content min-content auto;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.2);
}

#header {
    display: inline-block;
    text-align: center;
    margin-bottom: 10px;
}

#header > #title {
    margin: auto;
    margin-bottom: 5px;
    display: table;
}

#title > #icon {
    display: table-cell;
    vertical-align: middle;
    height: 57px;
}

#title > h1 {
    display: table-cell;
    vertical-align: middle;
    font-size: 3em;
}

#header > #buttons {
}

#header > #buttons > button {
    border: 1px solid grey;
    width: 25%;
    height: 30px;
    font-size: 1em;
    background-color: transparent;
    transition-duration: 0.4s;
}

#header > #buttons > button {
}

#header > #buttons > button:hover {
    background-color: #F0F0F0;
}

#header > #buttons > #btnLogin {
    border-radius: 10px 0px 0px 10px;
    border-right: none;
}

#header > #buttons > #btnExplore {
}

#header > #buttons > #btnPanda {
    border-radius: 0px 10px 10px 0px;
    border-left: none;
}

#form {
    margin-bottom: 10px;
}

#form > #searchbox {
    margin-bottom: 10px;
    font-size: 1.5em;
    width: 75%;
    height: 40px;
    border: 1px solid grey;
    border-radius: 5px 0px 0px 5px;
    border-right: none;
    padding: 5px;
}

#form > #btnSearch {
    width: 25%;
    height: 40px;
    font-size: 1em;
    float: right;
    border: 1px solid grey;
    background-color: transparent;
    transition-duration: 0.4s;
    border-radius: 0px 5px 5px 0px;
}

#form > #btnSearch:hover {
    background-color: #F0F0F0;
}

#form > #options {
    text-align: center;
}

#form > #options > #sortby {
    margin: auto;
}

#form > #options p {
    display: inline-block;
    font-size: 1em;
    margin-right: 10px;
}

#form > #options > #sortby > #sort {
    font-size: 1em;
}

#sideimages {
    width: 100%;
    overflow: auto;
}

.sideimagediv {
    position: relative;
    display: none;
    width: 50%;
}

.sideimagediv > img {
    width: 100%;
    height: auto;
}

#noresults {
    visibility: hidden;
    font-size: 1.5em;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#btnSeeMore {
    visibility: hidden;
    font-size: 1.5em;
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background-color: white;
    border: none;
    box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.2);
}

.overlay {
    background-color: rgba(0, 0, 0, 0.50);
    border-radius: inherit;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

.overlay .loader {
    z-index: 9999;
    max-width: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#sideimages::-webkit-scrollbar {
    width: 10px;
}

#sideimages::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

#sideimages::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}