.gvision
    .landmark
        if (landmarks)
            each landmark in landmarks
                p= landmark.description
    .labels
        if (labels)
            each label in labels
                p= label.description