.gvision_results
    .landmark
        if (landmarks)
            each landmark in landmarks
                landmark= landmark.description
    .labels
        if (labels)
            each label in labels
                label= label.description