.gvision_results
    .landmark
        if (landmarks)
            i(class="fa fa-map-marker fa-fw") &nbsp;
            each landmark in landmarks
                landmark(onclick=`locationSearch('${landmark.description}')`)= landmark.description
    .labels
        if (labels)
            i(class="fa fa-tags fa-fw") &nbsp;
            each label in labels
                label.button(onclick=`tagSearch('${label.description}')`)= label.description