extends layout

block sidebar
    #sidebar
        #loader
        #overlay
        #form
            input(id="searchbox" placeholder="Search..." onkeyup="search(this.value, 1)")
            select(id="sort")
                option(value="relevance" selected="true") Relevance
                option(value="interestingness-desc") Interestingness - Most
                option(value="interestingness-asc") Interestingness - Least
                option(value="date-posted-desc") Date Posted - Newest
                option(value="date-posted-asc") Date Posted - Oldest
        #sideimages
            p#noresults No Results :(
            button(id="btnSeeMore" onclick="loadMore()") See More

block content
    #content
        #map